<section>
<script type="text/ng-template" id="BatchDetails">
    <div class="modal-header">
        <h3 class="modal-title">{{local.BatchDetails[lang]}}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th><a href="" ng-click="sortBy('first_name')">{{local.FirstName[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='first_name','fa-sort-asc':sort=='first_name'&&by,'fa-sort-desc':sort=='first_name'&&!by}"></i></a></th>
                <th><a href="" ng-click="sortBy('last_name')">{{local.LastName[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='last_name','fa-sort-asc':sort=='last_name'&&by,'fa-sort-desc':sort=='last_name'&&!by}"></i></a></th>
                <th><a href="" ng-click="sortBy('date_created')">{{local.MemberSince[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='date_created','fa-sort-asc':sort=='date_created'&&by,'fa-sort-desc':sort=='date_created'&&!by}"></i></a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in data.members">
                <td>{{result.first_name}}</td>
                <td>{{result.last_name}}</td>
                <td>{{result.date_created | date:'MMM dd yyyy H:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">KYC Management</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->



    <!-- main content-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default withtable">
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Pending KYC Listing</h3>-->
                <!--</div>-->
                <div class="panel-body">
                    <tabset>
                        <tab heading="Batch Sending" data-ng-controller="KycManagementController" ng-init="find('Pending')">
                            <div class="row tableoptions">
                                <div class="col-md-12">

                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Action</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li should-render="42" show-title-in=".title"><a ng-click="sendBatch()" class="title" href=""></a></li>
                                                <li should-render="43" show-title-in=".title"><a ng-click="setOnHold()" class="title" href=""></a></li>
                                                <li should-render="44" show-title-in=".title"><a ng-click="setRemove()" class="title" href=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th><a href="" ng-click="sortBy('first_name')">{{local.FirstName[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='first_name','fa-sort-asc':sort=='first_name'&&by,'fa-sort-desc':sort=='first_name'&&!by}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('last_name')">{{local.LastName[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='last_name','fa-sort-asc':sort=='last_name'&&by,'fa-sort-desc':sort=='last_name'&&!by}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('date_created')">{{local.MemberSince[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='date_created','fa-sort-asc':sort=='date_created'&&by,'fa-sort-desc':sort=='date_created'&&!by}"></i></a></th>
                                    <th should-render="42"><input type="checkbox" ng-change="checkAll()" ng-checked="isCheckedAll()" ng-model="checkall"/> {{local.Action[lang]}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="result in results">
                                    <td>{{result.first_name}}</td>
                                    <td>{{result.last_name}}</td>
                                    <td>{{result.date_created | date:'MMM dd yyyy H:mm'}}</td>
                                    <td class="action" should-render="42">
                                        <input type="checkbox" ng-model="checkboxes[result._id]" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div ng-if="results.length==0" class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                No data available.
                            </div>
                            <pagination ng-show="totalItems>pageLimit" class="pull-right" ng-change="populate()" boundary-links="true" items-per-page="pageLimit" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </tab>
                        <tab heading="On-Hold" data-ng-controller="KycManagementController" ng-init="find('OnHold')">
                            <div class="row tableoptions">
                                <div class="col-md-12">

                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Action</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li should-render="42" show-title-in=".title"><a ng-click="sendBatch()" class="title" href=""></a></li>
                                                <li should-render="44" show-title-in=".title"><a ng-click="setRemove()" class="title" href=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th><a href="" ng-click="sortBy('first_name')">{{local.FirstName[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='first_name','fa-sort-asc':sort=='first_name'&&by,'fa-sort-desc':sort=='first_name'&&!by}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('last_name')">{{local.LastName[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='last_name','fa-sort-asc':sort=='last_name'&&by,'fa-sort-desc':sort=='last_name'&&!by}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('date_created')">{{local.MemberSince[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='date_created','fa-sort-asc':sort=='date_created'&&by,'fa-sort-desc':sort=='date_created'&&!by}"></i></a></th>
                                    <th should-render="42"><input type="checkbox" ng-change="checkAll()" ng-checked="isCheckedAll()" ng-model="checkall"/> {{local.Action[lang]}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="result in results">
                                    <td>{{result.first_name}}</td>
                                    <td>{{result.last_name}}</td>
                                    <td>{{result.date_created | date:'MMM dd yyyy H:mm'}}</td>
                                    <td class="action" should-render="42">
                                        <input type="checkbox" ng-model="checkboxes[result._id]" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div ng-if="results.length==0" class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                No data available.
                            </div>
                            <pagination ng-show="totalItems>pageLimit" class="pull-right" ng-change="populate()" boundary-links="true" items-per-page="pageLimit" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </tab>
                        <tab heading="History" data-ng-controller="KycManagementController" ng-init="find('Sent')">
                            <div class="row tableoptions">
                                <div class="col-md-12">

                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Action</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li should-render="42" show-title-in=".title"><a ng-click="resendBatch()" class="title" href=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th><a href="" ng-click="sortBy('batch_number')">{{local.BatchNumber[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='first_name','fa-sort-asc':sort=='first_name'&&by,'fa-sort-desc':sort=='first_name'&&!by}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('status')">{{local.BatchStatus[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='last_name','fa-sort-asc':sort=='last_name'&&by,'fa-sort-desc':sort=='last_name'&&!by}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('date_created')">{{local.DateCreated[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='date_created','fa-sort-asc':sort=='date_created'&&by,'fa-sort-desc':sort=='date_created'&&!by}"></i></a></th>
                                    <th should-render="42"><input type="checkbox" ng-change="checkAll()" ng-checked="isCheckedAll()" ng-model="checkall"/> {{local.Action[lang]}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="result in results">
                                    <td><a href="" ng-click="openBatchDetails(result)">{{result.batch_number}}</a></td>
                                    <td>{{result.status}}</td>
                                    <td>{{result.date_created | date:'MMM dd yyyy H:mm'}}</td>
                                    <td class="action" should-render="42">
                                        <input type="checkbox" ng-model="checkboxes[result._id]" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div ng-if="results.length==0" class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                No data available.
                            </div>
                            <pagination ng-show="totalItems>pageLimit" class="pull-right" ng-change="populate()" boundary-links="true" items-per-page="pageLimit" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </tab>
                    </tabset>

                </div>
            </div>
        </div><!--  column 12 -->
    </div>



    </div>
</section>