<section data-ng-controller="TransactionsController" ng-init="findCardTopUps()" last-action title="Card Topups Listing" url="transactions/list-topups">
<script type="text/ng-template" id="TopUP">
    <div class="modal-header">
        <h3 class="modal-title">Add Card TOPUP</h3>
    </div>
    <form name="$parent.frmTopup" novalidate="">
    <div class="modal-body">
            <div class="form-group" show-errors="">
                <label for="amount">Amount</label>
                <input required type="number" ng-model="data.amount" class="form-control" name="amount" id="amount" placeholder="Amount" />
                <p class="help-block" ng-bind="error.amount" ng-if="error.amount"></p>
            </div>
            <div class="form-group" show-errors="">
                <label for="member">Select Member</label>
                <select required ng-change="populateCardNbr(member)" ng-options="member.first_name + ' ' + member.last_name for member in members" ng-model="member" name="member" id="member" class="form-control">
                </select>
                <p class="help-block" ng-bind="error.member" ng-if="error.member"></p>
            </div>
            <div class="form-group" show-errors="">
                <label for="CardNbr">Card Number</label>
                <input required ng-model="data.CardNbr" class="form-control" name="CardNbr" id="CardNbr" placeholder="Card Number"/>
                <p class="help-block" ng-bind="error.CardNbr" ng-if="error.CardNbr"></p>
            </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
    </form>
</script>
<script type="text/ng-template" id="TransactionDetails">
    <div class="modal-header">
        <h3 class="modal-title">{{local.TransactionDetails[lang]}}</h3>
    </div>
    <div class="modal-body">
        <table class="table sum">
            <thead>
            <tr>
                <th colspan="2">Details</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-show="data.transaction_type==='REMITTANCE'">
                <td class="subm">Sent to:</td>
                <td>{{data.remitted_to.first_name}} {{data.remitted_to.last_name}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='REMITTANCE'">
                <td>Payout Method:</td>
                <td>{{data.payout_method.name}}</td>
            </tr>

            <tr ng-show="data.transaction_type==='LOAN PAYMENT'">
                <td>{{local.AccountNumber[lang]}}</td>
                <td>{{data.account_number}}</td>
            </tr>
            <tr>
                <td>{{local.Amount[lang]}}</td>
                <td>{{data.amount}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='LOAN PAYMENT'">
                <td>{{local.PaymentType[lang]}}</td>
                <td>{{data.payment_type}}</td>
            </tr>

            <tr ng-show="data.transaction_type==='BILLS PAYMENT'">
                <td>Fee: </td>
                <td>{{user.remittance.partner_fee + user.remittance.gochannel_fee}} PTS</td>
            </tr>
            <tr ng-show="data.transaction_type==='BILLS PAYMENT'">
                <td><b>TOTAL:</b></td>
                <td><b>{{data.amount+user.remittance.partner_fee+user.remittance.gochannel_fee}} PTS</b></td>
            </tr>
            <tr ng-show="data.transaction_type==='BILLS PAYMENT'">
                <td>Paid to:</td>
                <td>{{data.paid_bill_to.biller.name}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='BILLS PAYMENT'">
                <td>Account Name:</td>
                <td>{{data.account_name}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='BILLS PAYMENT'">
                <td>Account Number:</td>
                <td>{{data.account_number}}</td>
            </tr>

            <tr ng-show="data.transaction_type==='REMITTANCE'">
                <td>Fee: </td>
                <td>{{data.payout_method.partner_fee + data.payout_method.gochannel_fee}} PTS</td>
            </tr>
            <tr ng-show="data.transaction_type==='REMITTANCE'">
                <td><b>TOTAL:</b></td>
                <td><b>{{data.amount+data.payout_method.partner_fee+data.payout_method.gochannel_fee}} PTS</b></td>
            </tr>


            <tr ng-show="data.transaction_type==='TOPUP'">
                <td>Payment Type:</td>
                <td>{{data.payment_type}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='TOPUP'">
                <td>{{local.BankName[lang]}}:</td>
                <td>{{data.bank_name}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='TOPUP'">
                <td>{{local.DepositDate[lang]}}</td>
                <td>{{data.deposit_date | date:'MMM dd yyyy H:mm'}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='TOPUP'">
                <td>{{local.SlipNo[lang]}}</td>
                <td>{{data.slip_refno}}</td>
            </tr>
            <tr ng-show="data.transaction_type==='TOPUP'">
                <td>{{local.DepositSlip[lang]}}</td>
                <td><img src="data.slip_img" width="300" width="300"/></td>
            </tr>

            <tr>
                <td>{{local.ReferenceCode[lang]}}</td>
                <td>{{data.reference_no}}</td>
            </tr>
            <tr>
                <td>{{local.TransactionDate[lang]}}</td>
                <td>{{data.date_created | date:'MMM dd yyyy H:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Transactions</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->



<!-- main content-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default withtable">
            <div class="panel-heading">
                <h3 class="panel-title">Transaction List</h3>
            </div>
            <div class="panel-body">
                <div class="pull-right">


                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Action</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li should-render="36" show-title-in=".title"><a ng-click="showTopUPFORM()" class="title" href=""></a></li>
                            <li should-render="37" show-title-in=".title"><p class="divider title"></p>
                                <a ng-click="approve()" href="">{{local.StatusApprove[lang]}}</a>
                                <a ng-click="decline()" href="">{{local.StatusReject[lang]}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row tableoptions">
                    <div class="col-md-12">
                        <div class="form-group fifty">
                            <label for="partner">{{local.PartnerName[lang]}}</label>
                            <select class="form-control" name="partner" id="partner" data-ng-model="partner">
                                <option ng-repeat="partner in remittance_partners" value="{{partner._id}}">{{partner.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="transaction_date_from">{{local.DateDuration[lang]}}</label>

                            <ul class="transdate">
                                <li>
                                    <input id="transaction_date_from" data-ng-model="transaction_date_from" class="form-control" type="date"/>
                                </li>
                                <li>
                                    <p>to</p>
                                </li>
                                <li>
                                    <input data-ng-model="transaction_date_to" class="form-control" type="date"/>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group tablesearch">
                            <label>{{local.MemberName[lang]}}</label>
                            <div class="input-group custom-search-form">
                                <angucomplete id="member" placeholder="Search member" pause="300" selectedobject="selectedPerson" localdata="members" searchfields="first_name,last_name" titlefield="first_name,last_name" descriptionfield="email" imagefield="ProfilePic" minlength="1" inputclass="form-control" matchclass="highlight" />
                                <span class="input-group-btn">
                                    <button ng-click="populate()" class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tableoptions">
                    <div class="col-md-12">

                        <form class="form-inline pull-right" role="form">
                            <div class="form-group">
                                <select ng-change="statusFilter()" name="status" id="status" ng-model="status" class="form-control input-sm">
                                    <option value="{{local.StatusApproved[lang]}}">{{local.StatusApproved[lang]}}</option>
                                    <option value="{{local.StatusPending[lang]}}">{{local.StatusPending[lang]}}</option>
                                    <option value="{{local.StatusRejected[lang]}}">{{local.StatusRejected[lang]}}</option>
                                </select>
                            </div>
                            <div class="form-group tablesearch">
                                <div class="input-group custom-search-form">
                                    <input type="text" ng-model="wildcard_search" class="form-control" placeholder="Search...">
                                            <span class="input-group-btn">
                                                <button ng-click="statusFilter()" class="btn btn-default" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-change="checkAll()" ng-checked="isCheckedAll()" ng-model="checkall"/></th>
                        <th><a href="" ng-click="sortBy('date_created')">{{local.DateCreated[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='date_created','fa-sort-asc':sort=='date_created'&&by,'fa-sort-desc':sort=='date_created'&&!by}"></i></a></th>
                        <th><a href="" ng-click="sortBy('reference_no')">{{local.ReferenceCode[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='reference_no','fa-sort-asc':sort=='reference_no'&&by,'fa-sort-desc':sort=='reference_no'&&!by}"></i></a></th>
                        <th><a href="" ng-click="sortBy('member_name')">{{local.MemberName[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='member_name','fa-sort-asc':sort=='member_name'&&by,'fa-sort-desc':sort=='member_name'&&!by}"></i></a></th>
                        <th><a href="" ng-click="sortBy('amount')">{{local.AmountPaid[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='amount','fa-sort-asc':sort=='amount'&&by,'fa-sort-desc':sort=='amount'&&!by}"></i></a></th>
                        <th><a href="" ng-click="sortBy('status')">{{local.TransactionListStatus[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='status','fa-sort-asc':sort=='status'&&by,'fa-sort-desc':sort=='status'&&!by}"></i></a></th>
                        <th><a href="" ng-click="sortBy('date_updated')">{{local.DateModified[lang]}} <i class="fa" ng-class="{'fa-sort':sort!='date_updated','fa-sort-asc':sort=='date_updated'&&by,'fa-sort-desc':sort=='date_updated'&&!by}"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="transaction in transactions">
                        <td><input ng-disabled="transaction.status!=='Pending'" type="checkbox" id="chk_{{transaction._id}}" ng-model="checkboxes[transaction._id]" /></td>
                        <td>{{transaction.date_created | date:'MMM dd yyyy H:mm'}}</td>
                        <td><a href="" ng-click="open_transaction(transaction)">{{transaction.reference_no}}</a></td>
                        <td>{{transaction.member_name}}</td>
                        <td>{{transaction.amount}}</td>
                        <td>
                            <p ng-hide="transaction.status==='Pending'">{{transaction.status}}</p>
                            <p should-render="37" show-it="true" ng-show="transaction.status==='Pending'">{{transaction.status}}</p>
                            <div should-render="37" class="btn-group" ng-show="transaction.status==='Pending'">
                                <label ng-click="update(transaction,local.StatusApproved[lang])" ng-confirm-click="Are you sure you want to change the status to accepted?" class="btn btn-primary btn-xs" ng-model="memberbiller.status" btn-radio="local.StatusApprove[lang]">{{local.StatusApprove[lang]}}</label>
                                <label ng-click="update(transaction,local.StatusRejected[lang])" ng-confirm-click="Are you sure you want to change the status to rejected?" class="btn btn-danger btn-xs" ng-model="memberbiller.status" btn-radio="local.StatusReject[lang]">{{local.StatusReject[lang]}}</label>
                            </div>
                        </td>
                        <td>{{transaction.date_updated | date:'MMM dd yyyy H:mm'}}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="transactions.length==0" class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    No data available.
                </div>
                <pagination ng-show="totalItems>pageLimit" class="pull-right" ng-change="populate()" boundary-links="true" items-per-page="pageLimit" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div><!--  column 12 -->
</div>



<!-- /#page-wrapper -->
</section>